<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   id="svg8"
   version="1.1"
   viewBox="0 0 175 175"
   height="175mm"
   width="175mm">
  <defs
     id="defs2">
    <marker
       style="overflow:visible"
       id="TriangleOutM"
       refX="0.0"
       refY="0.0"
       orient="auto">
      <path
         transform="scale(0.4)"
         style="fill-rule:evenodd;stroke:#000000;stroke-width:1pt;stroke-opacity:1;fill:#000000;fill-opacity:1"
         d="M 5.77,0.0 L -2.88,5.0 L -2.88,-5.0 L 5.77,0.0 z "
         id="path4634" />
    </marker>
    <marker
       style="overflow:visible"
       id="TriangleOutL"
       refX="0.0"
       refY="0.0"
       orient="auto">
      <path
         transform="scale(0.8)"
         style="fill-rule:evenodd;stroke:#000000;stroke-width:1pt;stroke-opacity:1;fill:#000000;fill-opacity:1"
         d="M 5.77,0.0 L -2.88,5.0 L -2.88,-5.0 L 5.77,0.0 z "
         id="path4631" />
    </marker>
    <marker
       style="overflow:visible;"
       id="marker7696"
       refX="0.0"
       refY="0.0"
       orient="auto">
      <path
         transform="scale(0.4) rotate(180) translate(10,0)"
         style="fill-rule:evenodd;stroke:#000000;stroke-width:1pt;stroke-opacity:1;fill:#000000;fill-opacity:1"
         d="M 0.0,0.0 L 5.0,-5.0 L -12.5,0.0 L 5.0,5.0 L 0.0,0.0 z "
         id="path7694" />
    </marker>
    <marker
       style="overflow:visible;"
       id="Arrow1Mend"
       refX="0.0"
       refY="0.0"
       orient="auto">
      <path
         transform="scale(0.4) rotate(180) translate(10,0)"
         style="fill-rule:evenodd;stroke:#000000;stroke-width:1pt;stroke-opacity:1;fill:#000000;fill-opacity:1"
         d="M 0.0,0.0 L 5.0,-5.0 L -12.5,0.0 L 5.0,5.0 L 0.0,0.0 z "
         id="path4498" />
    </marker>
    <marker
       style="overflow:visible"
       id="marker7564"
       refX="0"
       refY="0"
       orient="auto">
      <path
         transform="matrix(0.4,0,0,0.4,4,0)"
         style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.00000003pt;stroke-opacity:1"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path7562" />
    </marker>
    <marker
       style="overflow:visible"
       id="marker7500"
       refX="0"
       refY="0"
       orient="auto">
      <path
         transform="matrix(0.4,0,0,0.4,4,0)"
         style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.00000003pt;stroke-opacity:1"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path7498" />
    </marker>
    <marker
       orient="auto"
       refY="0"
       refX="0"
       id="marker5700"
       style="overflow:visible">
      <path
         id="path5698"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.00000003pt;stroke-opacity:1"
         transform="matrix(0.4,0,0,0.4,4,0)" />
    </marker>
    <marker
       orient="auto"
       refY="0"
       refX="0"
       id="marker5654"
       style="overflow:visible">
      <path
         id="path5652"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.00000003pt;stroke-opacity:1"
         transform="matrix(0.4,0,0,0.4,4,0)" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Mstart"
       refX="0"
       refY="0"
       orient="auto">
      <path
         transform="matrix(0.4,0,0,0.4,4,0)"
         style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.00000003pt;stroke-opacity:1"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path4495" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lstart"
       refX="0"
       refY="0"
       orient="auto">
      <path
         transform="matrix(0.8,0,0,0.8,10,0)"
         style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.00000003pt;stroke-opacity:1"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path4489" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow2Lend"
       refX="0"
       refY="0"
       orient="auto">
      <path
         transform="matrix(-1.1,0,0,-1.1,-1.1,0)"
         d="M 8.7185878,4.0337352 -2.2072895,0.01601326 8.7185884,-4.0017078 c -1.7454984,2.3720609 -1.7354408,5.6174519 -6e-7,8.035443 z"
         style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.625;stroke-linejoin:round;stroke-opacity:1"
         id="path4510" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow2Lstart"
       refX="0"
       refY="0"
       orient="auto">
      <path
         transform="matrix(1.1,0,0,1.1,1.1,0)"
         d="M 8.7185878,4.0337352 -2.2072895,0.01601326 8.7185884,-4.0017078 c -1.7454984,2.3720609 -1.7354408,5.6174519 -6e-7,8.035443 z"
         style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.625;stroke-linejoin:round;stroke-opacity:1"
         id="path4507" />
    </marker>
  </defs>
  <g
     transform="translate(0,-122)"
     id="layer1">
    <path
       id="path5650"
       d="M 133.93557,212.18215 77.395275,179.5386 20.854982,146.89505"
       style="fill:none;stroke:#000000;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-mid:url(#Arrow1Mstart)" />
    <path
       id="path5648"
       d="M 20.854982,277.46926 77.395278,244.82569 133.93557,212.18214"
       style="fill:none;stroke:#000000;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-mid:url(#marker5700)" />
    <path
       id="path3682"
       d="m 20.854982,277.46927 v -65.28712 -65.2871"
       style="fill:none;stroke:#000000;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-mid:url(#marker5654)" />
    <text
       id="text5776"
       y="157.03542"
       x="22.489584"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:7.05555534px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:7.05555534px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;stroke-width:0.26458332"
         y="157.03542"
         x="22.489584"
         id="tspan5774">0</tspan></text>
    <text
       id="text5780"
       y="214.18542"
       x="122.50208"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:7.05555534px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:7.05555534px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;stroke-width:0.26458332"
         y="214.18542"
         x="122.50208"
         id="tspan5778">1</tspan></text>
    <text
       id="text5784"
       y="270.2771"
       x="23.018751"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:7.05555534px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:7.05555534px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;stroke-width:0.26458332"
         y="270.2771"
         x="23.018751"
         id="tspan5782">2</tspan></text>
    <text
       id="text5794"
       y="173.175"
       x="76.729156"
       style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
       xml:space="preserve"><tspan
         style="stroke-width:0.26458332"
         y="173.175"
         x="76.729156"
         id="tspan5792">Edge2</tspan></text>
    <text
       id="text5798"
       y="220.8"
       x="23.283333"
       style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
       xml:space="preserve"><tspan
         style="stroke-width:0.26458332"
         y="220.8"
         x="23.283333"
         id="tspan5796">Edge1</tspan></text>
    <text
       id="text5802"
       y="254.93127"
       x="79.374992"
       style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
       xml:space="preserve"><tspan
         style="stroke-width:0.26458332"
         y="254.93127"
         x="79.374992"
         id="tspan5800">Edge3</tspan></text>
    <text
       id="text5806"
       y="212.18216"
       x="133.93558"
       style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
       xml:space="preserve"><tspan
         style="stroke-width:0.26458332"
         y="212.18216"
         x="133.93558"
         id="tspan5804">Vert1</tspan></text>
    <text
       id="text5810"
       y="147.51042"
       x="28.310417"
       style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
       xml:space="preserve"><tspan
         style="stroke-width:0.26458332"
         y="147.51042"
         x="28.310417"
         id="tspan5808">Vert0</tspan></text>
    <text
       id="text5814"
       y="284.56461"
       x="30.956251"
       style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
       xml:space="preserve"><tspan
         style="stroke-width:0.26458332"
         y="284.56461"
         x="30.956251"
         id="tspan5812">Vert2</tspan></text>
    <text
       id="text5818"
       y="188.52084"
       x="30.956251"
       style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
       xml:space="preserve"><tspan
         style="stroke-width:0.26458332"
         y="188.52084"
         x="30.956251"
         id="tspan5816">Area</tspan></text>
    <path
       d="m 51.637211,198.01582 a 15.849875,15.849875 0 0 1 -18.506608,-0.23588 15.849875,15.849875 0 0 1 -5.665604,-17.61962 15.849875,15.849875 0 0 1 14.90076,-10.97805 15.849875,15.849875 0 0 1 15.149126,10.63269"
       id="path7454"
       style="fill:none;stroke:#000000;stroke-width:1.47913682;stroke-miterlimit:4.30000019;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#TriangleOutM)" />
  </g>
</svg>
